{
    "workdir":"C:\\temp\\me",
    "dbfile":"C:\\temp\\medb.sqlite"
    "mfme":{
        "mail": "",
        "password": ""
    },
    "gmail":{
        "mail":"mail@gmail.com",
        "password": "password",
        "to":"mail@example.com,mail2@example.com",
        "bcc":"mail@example.com,mail2@example.com"
    },
    "slack":{
        "token":"xoxox"
    }
}
