{
    "workdir":"C:\\temp\\me",
    "dbfile":"C:\\temp\\medb.sqlite"
    "mfme":{
        "mail": "",
        "password": "",
        "reportAccount":["Amazon.co.jp", "個人財布"]
    },
    "gmail":{
        "mail":"mail@gmail.com",
        "password": "password",
        "to":"mail@example.com,mail2@example.com",
        "bcc":"mail@example.com,mail2@example.com"
    },
    "slack":{
        "token":"xoxox",
        "channel": "#random"
    },
    "LINE":{
        "token":"generate toke on https://developers.line.biz/console/ provider/ channel/  message API",
        "channel_secret":"get channel_secret on https://developers.line.biz/console/ provider/ cannel / Basic settings",
        "users":["user id list","this is option","if no users message will broadcast"]

    }

}
